.wrap{
    display: flex;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: cornflowerblue;
    margin:25px auto;
    box-sizing: border-box;
    font-size: 40px;
    align-items: center;
    align-content: center;
    text-align: center
}
.btnWrap{
    display: flex;
    border: 5px cornflowerblue solid;
    width: 400px;
    height: 200px;
    border-radius: 10px;


    margin:0px auto;
    box-sizing: border-box;

    align-items: center;
    align-content: center;
}